* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 300px;
    gap: 20px;
    transition: background 0.2s linear;
    background-image: linear-gradient(to right, #005aa7, #fffde4);
}

h1 > span {
    color: rgb(243, 240, 233);
    font-family: 'Dancing Script', cursive;
    font-size: 3.7rem;
    /* letter-spacing: 1px; */
    word-spacing: -100px;
}

h1 {
    color: rgb(243, 240, 233);
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3rem;
    letter-spacing: -4px;
    color: rgb(150, 69, 231);
}

section.contactCard {
    height: 300px;
    width: 500px;
    background: rgb(243, 240, 233);
    border-radius: 10px;
}




/* dark theme */

body.dark { background-image: linear-gradient(to right, #141e30, #243b55);} 

/* body.dark h1, body.dark .support a {color: #fff;} */

.checkbox {
    opacity: 0;
    position: absolute;
  }
  
  .checkbox-label {
    background-color: #111;
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .fa-moon {color: #f1c40f;}
  
  .fa-sun {color: #f39c12;}
  
  .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
  }
  
  .checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
  }